<!DOCTYPE html>
<html>
<head>
<title>Convrge Cast</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>
<link rel="stylesheet" href="{{ url_for('static', filename='javascript/main.js') }}"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">


</head>
<body>

    <header>
        <div class="Number-of-Cameras">
            <h1>Number of cameras</h1>
            <p>0</p>
        </div>
    </header>


<div class="sidenav">
     <button onclick="myFunction()">Try</button>
    <div id="container"></div>
  </div>
  
<div class="container">
    <p>Some text to enable scrolling.. Lorem ipsum dolor sit amet, illum definitiones no quo, maluisset concludaturque et eum, altera fabulas ut quo. Atqui causae
    
</div>"



<div class="mainSection">
    <p>Some text to enable scrolling.. Lorem ipsum dolor sit amet, illum definitiones no quo, maluisset concludaturque et eum, altera fabulas ut quo. Atqui causae
        <div class="CameraArticle">
            
            <div class="CameraTitle">Camera 1

                <input type="checkbox" id="checkbox">
                <video id="videoplayer" autoplay="true" src="http://"></video>
           
            </div>
            
        </div>
        
    <div class="row">
        <div class="col-md-3">
        </div>
    </div>
      
        
</div>


<button class="font-size:24px"><i class="material-icons">fullscreen</i></button>

</body>
</html>